.productLine {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-between;
}

.part {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    gap: 10px;

}
.part img{
    width: 20px;
    height: 20px;
}